.container {
    display: flex;
    align-items: flex-start;
}

.list {
    flex: 1;
}

.item {
    background-color: #d7d7d7;
    border-radius: 10px;
    height: 500px;
    width: 500px;
    margin-bottom: 20px;
    padding: 20px;
}

.menu {
    border-left: 1px solid #d7d7d7;
    padding-left: 15px;
    font-size: 14px;
    color: #d7d7d7;
    position: sticky;
    top: 30px;
}

a {
    color: #d7d7d7;
}

a.active {
    color: #f00;
}
